3_NS-NIT-tpLS/NIT/the-things-network/NIT_node-red_example/ttn-rest-nodered.json
[
    {
        "id": "70bd9bda.3a2624",
        "type": "comment",
        "z": "d57c4db3.61669",
        "name": "TTN Integration Examples",
        "info": "[TTN http API Reference](https://www.thethingsnetwork.org/docs/applications/http/)\n\n[TTN MQTT API Reference](https://www.thethingsnetwork.org/docs/applications/mqtt/api.html)",
        "x": 370,
        "y": 2200,
        "wires": []
    },
    {
        "id": "a1aedc6c.5aaa6",
        "type": "comment",
        "z": "d57c4db3.61669",
        "name": "From NS to Location Solver - REST",
        "info": "",
        "x": 440,
        "y": 2260,
        "wires": []
    },
    {
        "id": "4a9fed37.cee454",
        "type": "comment",
        "z": "d57c4db3.61669",
        "name": "From Location Solver to NS - REST",
        "info": "",
        "x": 440,
        "y": 2400,
        "wires": []
    },
    {
        "id": "cdb0224d.351d1",
        "type": "http in",
        "z": "d57c4db3.61669",
        "name": "",
        "url": "/uplink_ttn/0001",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 450,
        "y": 2340,
        "wires": [
            [
                "452a1b84.c60494",
                "24dfd7c6.a133d8"
            ]
        ]
    },
    {
        "id": "452a1b84.c60494",
        "type": "http response",
        "z": "d57c4db3.61669",
        "name": "http response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 760,
        "y": 2360,
        "wires": []
    },
    {
        "id": "b57daa7c.1a3228",
        "type": "debug",
        "z": "d57c4db3.61669",
        "name": "debug: to Solver",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1040,
        "y": 2280,
        "wires": []
    },
    {
        "id": "deb2425d.ec65",
        "type": "http request",
        "z": "d57c4db3.61669",
        "name": "Send UL to Location Solver",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://dx-api.thingpark.com/location/latest/api/feeds",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 1320,
        "y": 2320,
        "wires": [
            [
                "58e97466.f469ac"
            ]
        ]
    },
    {
        "id": "58e97466.f469ac",
        "type": "debug",
        "z": "d57c4db3.61669",
        "name": "debug: Solver response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "x": 1350,
        "y": 2280,
        "wires": []
    },
    {
        "id": "5ab039ba.7be938",
        "type": "http response",
        "z": "d57c4db3.61669",
        "name": "http response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 760,
        "y": 2500,
        "wires": []
    },
    {
        "id": "cdd7d79f.4f5f18",
        "type": "inject",
        "z": "d57c4db3.61669",
        "name": "Sample msg - Loc Solver",
        "topic": "",
        "payload": "{\"type\":\"downlink\",\"deveui\":\"20635F0108000496\",\"port\":2,\"payload\":\"030a05\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 450,
        "y": 2440,
        "wires": [
            [
                "87535840.81d078"
            ]
        ]
    },
    {
        "id": "119f610e.dfe9ef",
        "type": "debug",
        "z": "d57c4db3.61669",
        "name": "debug: to NS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1030,
        "y": 2420,
        "wires": []
    },
    {
        "id": "218b47fc.65b348",
        "type": "http request",
        "z": "d57c4db3.61669",
        "name": "Send DL to TTN NS!!!",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://integrations.thethingsnetwork.org/ttn-eu/api/v2/down/node-red-for-tpxle/ttn-node-red?key={{key}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1300,
        "y": 2460,
        "wires": [
            [
                "45b4f0eb.fbe74"
            ]
        ]
    },
    {
        "id": "45b4f0eb.fbe74",
        "type": "debug",
        "z": "d57c4db3.61669",
        "name": "debug: NS response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1340,
        "y": 2420,
        "wires": []
    },
    {
        "id": "83884dcf.ec095",
        "type": "inject",
        "z": "d57c4db3.61669",
        "name": "Sample msg - TTN",
        "topic": "LoRaWAN_Uplink",
        "payload": "{\"app_id\":\"my-app-id\",\"dev_id\":\"my-dev-id\",\"hardware_serial\":\"0102030405060708\",\"port\":17,\"counter\":2,\"is_retry\":false,\"confirmed\":false,\"payload_raw\":\"ClD2gwAA\",\"payload_fields\":{},\"metadata\":{\"time\":\"1970-01-01T00:00:00Z\",\"frequency\":868.1,\"modulation\":\"LORA\",\"data_rate\":\"SF7BW125\",\"bit_rate\":50000,\"coding_rate\":\"4/5\",\"gateways\":[{\"gtw_id\":\"ttn-herengracht-ams\",\"timestamp\":12345,\"time\":\"1970-01-01T00:00:00Z\",\"channel\":0,\"rssi\":-25,\"snr\":5,\"rf_chain\":0,\"latitude\":52.1234,\"longitude\":6.1234,\"altitude\":6}],\"latitude\":52.2345,\"longitude\":6.2345,\"altitude\":2},\"downlink_url\":\"https://integrations.thethingsnetwork.org/ttn-eu/api/v2/down/my-app-id/my-process-id?key=ttn-account-v2.secret\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 2300,
        "wires": [
            [
                "24dfd7c6.a133d8"
            ]
        ]
    },
    {
        "id": "24dfd7c6.a133d8",
        "type": "function",
        "z": "d57c4db3.61669",
        "name": "TTN UL interface",
        "func": "/******************************************/\n/*** TTN UL interface                   ***/\n/******************************************/\n\nbody = (typeof msg.payload == 'string') ? JSON.parse(msg.payload) : msg.payload;\n\nlet feeds = {\n    // deviceEUI: \"\",                                     // mandatory\n    // time: \"\",\n    // coordinates: [],                                   // [longitude, latitude, altitude]\n                                                          // used if NS provides resolved coordinates\n    solverInput: {\n        solverInputType: \"FeedInputForGpsSolver\",\n        // sequenceNumber: 1,                             // LoRaWAN FCntUp\n        // port: 1,                                       // LoRaWAN FPort\n        // receptionTime: \"\",\n        // SF: 12,                                        // LoRaWAN Spreading Factor\n        packets: [\n            // {\n                // baseStationId: \"0805022D\",\n                // antennaId: 0,\n                // antennaCoordinates: [7.0513, 43.6181], // [longitude, latitude, altitude]\n                // antennaHeight: 150,                    // in cm\n                // SNR: 10,                               // in dB\n                // RSSI: -29,                             // in dBm\n                // barometerMeasure: 0,                   // in mB\n                // arrivalSeconds: 1,                     // in seconds\n                // arrivalAdditionalNanos: 7275           // in nanoseconds\n            // }\n        ]\n        // dynamicMotionState: \"string\",    // ['MOVING', 'STATIC', 'UNKNOWN']\n        // temperatureMeasure: 0,           // in Celsius\n        // accelerometerMeasures: [],       // measures per axis, i.e. [x, y, z]\n        // gyroscopeMeasures: [],           // measures per axis, i.e. [roll, pitch, yaw]\n        // barometerMeasure: 0,             // in mBar\n        // lastContext: \"string\"            // Base64 encoded binary solver state\n                                            // with the last calculated position\n    },\n    payload: {\n        deviceProfileId: \"ABEEWAY/MICRO\",   // Currently only Abeeway Microtracker and\n                                            // Industrial Tracker are supported. \"deviceProfileId\"\n                                            // should be set to \"ABEEWAY/MICRO\" for both\n        payloadEncoded: \"\"\n    }\n}\n\nif ('hardware_serial' in body) { \n    feeds.deviceEUI = body.hardware_serial; \n}\nelse { \n    throw new Error(\"Missing property: hardware_serial\"); \n}\n\nif ( ('metadata' in body) && ('time' in body.metadata) ) { \n    feeds.time = body.metadata.time;\n}\n\nif ('counter' in body) { \n    feeds.solverInput.sequenceNumber = body.counter; \n}\nif ('port' in body) { \n    feeds.solverInput.port = body.port \n}\n\nif ('metadata' in body) {\n    if ('time' in body.metadata) { \n        feeds.solverInput.receptionTime = body.metadata.time; \n    }\n    if ('data_rate' in body.metadata) { \n        feeds.solverInput.SF = parseInt(body.metadata.data_rate.substring(2,4)); // SF7BW125\n    }\n    if ( ('gateways' in body.metadata) && Array.isArray(body.metadata.gateways) ) {\n        let gateways = body.metadata.gateways;\n        let packet;\n        for (let i=0; i<gateways.length; i++) {\n            packet = {};\n            if ('gtw_id' in gateways[i]) { \n                packet.baseStationId = gateways[i].gtw_id; \n            } \n            if ('snr'    in gateways[i]) { \n                packet.SNR = gateways[i].snr; \n            }\n            if ('rssi'   in gateways[i]) { \n                packet.RSSI = gateways[i].rssi; \n            }\n            if ( \n                ('longitude' in gateways[i]) && \n                ('latitude' in gateways[i]) \n            ) {\n                packet.antennaCoordinates = [ \n                    gateways[i].longitude,\n                    gateways[i].latitude\n                ];\n                if ('altitude' in gateways[i]) {\n                    packet.antennaCoordinates.push(gateways[i].altitude);\n                }\n            }\n            feeds.solverInput.packets.push(packet);\n        }\n    }\n}\n\nif ('payload_raw' in body) { \n    feeds.payload.payloadEncoded = Buffer.from(body.payload_raw, 'base64').toString('hex'); \n}\n\nmsg.payload = feeds;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 2320,
        "wires": [
            [
                "b57daa7c.1a3228",
                "deb2425d.ec65"
            ]
        ]
    },
    {
        "id": "87535840.81d078",
        "type": "function",
        "z": "d57c4db3.61669",
        "name": "TTN DL interface",
        "func": "/******************************************/\n/*** TTN DL interface              ***/\n/******************************************/\n\n//\n// When you register a device in TTN\n// make sure that dev_id = deveui.toLowerCase() !!!\n//\nmsg.key = \"ttn-account-v2.AOL-P1TwfJVXY_baEAQt-yjcHoKX2VW6Bz4Xr5lys_Y\";\n\nparams = msg.payload;\nmsg.payload = {\n    \"dev_id\": params.deveui.toLowerCase(),\n    \"port\": params.port,\n    \"confirmed\": false,\n    \"payload_raw\": Buffer.from(params.payload, 'hex').toString('base64')\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 2460,
        "wires": [
            [
                "119f610e.dfe9ef",
                "218b47fc.65b348"
            ]
        ]
    },
    {
        "id": "43a7b5c1.132f8c",
        "type": "http in",
        "z": "d57c4db3.61669",
        "name": "",
        "url": "/downlink_ttn/0001",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 460,
        "y": 2480,
        "wires": [
            [
                "87535840.81d078",
                "5ab039ba.7be938"
            ]
        ]
    }
]
